@model ITStepShop.Models.Category

@{
    ViewData["Title"] = "Create";
}
<h2>Створити категорію</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">До списку категорій</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{<partial name="_ValidationScriptsPartial"/>}
}



